@model CarbonOffset.Models.Result

@{
    ViewData["Title"] = "Results";
}

<h1 id="title_tnum">Tracking #: <span class="t_num gradientGtoB">@Model.TrackingNumber</span></h1>
<hr />

<div>

    <div id="info" class="row">

        <dl class="col-md-3 text-end">
            <dt class="col">Origin City: </dt>
            <dd class="col">@Model.StartingCity</dd>

            <dt class="col">Origin Country: </dt>
            <dd class="col">@Model.StartCountry</dd>
        </dl>

        <div class="flex-column col-md-6">

            <div id="arrow">
                <img class="airline-image" src="~/images/airlinePath.jpg" />
            </div>
            <div class="flex-row-center-start">
                <div class="airlineDetails"><b>Distance:</b> @Model.Distance KM</div>
                <div class="airlineDetails"><b>Carbon Emissions:</b> @Model.CarbonEmissions CO2e</div>
                <div class="airlineDetails"><b>Carbon Offset:</b> <span id="carbonMoney">$@Model.Cost</span></div>
            </div>
        </div>

        <dl class="col-md-3">

            <dt class="col-8">Destination City: </dt>
            <dd class="col-4">@Model.DestinationCity</dd>
            
            <dt class="col-8">Destination Country: </dt>
            <dd class="col-4">@Model.DestinationCountry</dd>
       
        </dl>
    </div>

    <hr />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://elfalem.github.io/Leaflet.curve/src/leaflet.curve.js"></script>
    <div id="map" style="height: 440px; border: 1px solid #AAA;"></div>

    <script>
        var map = L.map( 'map', {
            center: [20.0, 5.0],
            minZoom: 2,
            zoom: 2,
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            subdomains: ['a','b','c']
        }).addTo( map );
        
        // push markers to map
        L.marker( [@Model.StartLat, @Model.StartLon] )
            .addTo( map );

        L.marker( [@Model.DestLat, @Model.DestLon] )
            .addTo( map );

        // add curved line to map
        var latlngs = [];
        var offsetX = @Model.DestLon - @Model.StartLon, offsetY = @Model.DestLat - @Model.StartLat;

        var r = Math.sqrt(Math.pow(offsetX, 2) + Math.pow(offsetY, 2)),
          theta = Math.atan2(offsetY, offsetX);

        var thetaOffset = (3.14 / 10);

        var r2 = (r / 2) / (Math.cos(thetaOffset)), theta2 = theta + thetaOffset;

        var midpointX = (r2 * Math.cos(theta2)) + @Model.StartLon, midpointY = (r2 * Math.sin(theta2)) + @Model.StartLat;

        var midpointLatLng = [midpointY, midpointX];

        latlngs.push([@Model.StartLat, @Model.StartLon], midpointLatLng, [@Model.DestLat, @Model.DestLon]);

        var pathOptions = {
          color: 'blue',
          weight: 5,
          opacity: 0.5,
          dashed: true,
        }

        var curvedPath = L.curve(
        [
        'M', [@Model.StartLat, @Model.StartLon],
        'Q', midpointLatLng,
        [@Model.DestLat, @Model.DestLon]
        ], pathOptions).addTo(map);

        // add bounds markers
        var boundsMarker = [];

        // check for how to set bounds
        if (midpointY > @Model.StartLon) {
            boundsMarker.push([@Model.StartLat, @Model.StartLon-5]);
            boundsMarker.push([@Model.DestLat, @Model.DestLon+5]);
        } else {
            boundsMarker.push([@Model.StartLat, @Model.StartLon+5]);
            boundsMarker.push([@Model.DestLat, @Model.DestLon-5]);
        }
        
        // set bounds and zoom view
        map.setMaxBounds(map.getBounds());
        map.fitBounds(boundsMarker);

    </script>
    
</div>